<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.mybubbles.sdksample">

  <uses-sdk tools:overrideLibrary="com.mybubbles.sdk"/>

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:name=".MyApplication"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">

    <activity
      android:label="@string/app_name"
      android:name=".ui.app.MainActivity"
      android:theme="@style/AppTheme"
      android:windowSoftInputMode="stateHidden">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>

        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
          android:host="bubbles.main"
          android:scheme="${applicationId}" />
      </intent-filter>
    </activity>

    <!-- MyBubbles SDK Sample API KEY -->
    <meta-data
      android:name="com.mybubbles.sdk.key"
      android:value="d01cf51e58efc86b1340adb509f25e9a"/>

    <!-- MyBubbles SDK Sample Scenarios' Activities -->
    <activity android:name=".ui.scenarios.MyBubblesServiceActivity">
      <intent-filter>
        <action android:name="com.mybubbles.sdk.intent.action.scenario" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data
          android:host="bubbles.scenario"
          android:scheme="${applicationId}"
          android:pathPrefix="/service" />
      </intent-filter>
    </activity>
    <activity android:name=".ui.scenarios.MyBubblesImageActivity">
      <intent-filter>
        <action android:name="com.mybubbles.sdk.intent.action.scenario" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data
          android:host="bubbles.scenario"
          android:scheme="${applicationId}"
          android:pathPrefix="/image" />
      </intent-filter>
    </activity>
    <activity android:name=".ui.scenarios.MyBubblesWebViewActivity">
      <intent-filter>
        <action android:name="com.mybubbles.sdk.intent.action.scenario" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data
          android:host="bubbles.scenario"
          android:scheme="${applicationId}"
          android:pathPrefix="/webview" />
      </intent-filter>
    </activity>
    <activity android:name=".ui.scenarios.MyBubblesUriActivity">
      <intent-filter>
        <action android:name="com.mybubbles.sdk.intent.action.scenario" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data
          android:host="bubbles.scenario"
          android:scheme="${applicationId}"
          android:pathPrefix="/uri" />
      </intent-filter>
    </activity>

    <receiver android:name=".receivers.FetchServicesReceiver">
      <intent-filter>
        <action android:name="com.mybubbles.sdk.intent.action.FETCH_SERVICE"/>
      </intent-filter>
    </receiver>
    <receiver android:name=".receivers.NetworkNotAvailable">
      <intent-filter>
        <action android:name="com.mybubbles.sdk.intent.action.NETWORK_NOT_AVAILABLE"/>
      </intent-filter>
    </receiver>
  </application>

</manifest>
